*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/.gitignore
/.idea/sonarlint/issuestore/index.pb
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/virtual-earth-laboratory-ce.iml
/.idea/compiler.xml
/vlab-core-datamodel/target/
/vlab-core-datamodel/vlab-core-datamodel.iml
/vlab-core-engine/vlab-core-engine.iml
/.idea/
/vlab-core-engine/target/
/vlab-core-controller/target/
/vlab-core-controller/vlab-core-controller.iml

/vlab-core-jar-assembly/target/
/vlab-core-services-provider/target/
/vlab-core-jar-assembly/vlab-core-jar-assembly.iml
/vlab-ce-web-api/vlab-ce-web-api.iml




/vlab-ce-web-api/target/

/vlab-core-engine-services-api/target/
/vlab-core-engine-services-api/vlab-coreengine-services-api.iml

/vlab-ce-engine-services-impl/target/
/vlab-ce-client/target/
/vlab-ce-controller/target/
/vlab-ce-jar-assembly/target/
/vlab-core-controller-services-api/vlab-core-controller-services-api.iml
/vlab-core-controller-services-api/target/
/vlab-ce-controller-services-impl/target/
/vlab-ce-controller-services-impl/vlab-ce-controller-services-impl.iml
/vlab-core-utils/target/
/vlab-core-utils/vlab-core-utils.iml
/vlab-ce-jar-assembly/src/main/resources/test.properties
/vlab-ce-controller/vlab-ce-controller.iml
/vlab-core-engine-services-api/vlab-core-engine-services-api.iml
/vlab-ce-client/vlab-ce-client.iml
/vlab-ce-engine-services-impl/vlab-ce-engine-services-impl.iml
/vlab-ce-jar-assembly/vlab-ce-jar-assembly.iml
/vlab-controller-services-api/target/
/vlab-controller-services-api/vlab-controller-services-api.iml
/vlab-controller/target/
/vlab-controller/vlab-controller.iml
/vlab-client/target/
/vlab-client/vlab-client.iml
/vlab-ce-web-authentication-services-impl/vlab-ce-web-authentication-services-impl.iml
/vlab-ce-web-authentication-services-impl/target/
/vlab-web-authentication-services/target/
/vlab-web-authentication-services/vlab-web-authentication-services.iml
/vlab-web-api/target/
/vlab-web-api/vlab-web-api.iml
/target/
.DS_Store
